@{
    ViewBag.Title = "Home Page";
}<!-- prebuild blocks -->
<!-- section -->
<header class="is-sticky is-shrink is-boxed header-s1" id="header">
    <div class="header-box">
        
        <div class="banner banner-inner tc-light">
            <div class="banner-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="banner-content">
                                <h1 class="banner-heading">Welcome to the oldest restaurant in the old town</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-image">
                    <img src="/assets/images/mainbanner.jpg" alt="banner">
                </div>
            </div>

        </div>
        <!-- .banner -->
    </div>
</header>

<div class="section section-x section-project tc-bunker" id="work">
    <div class="container">
        <div class="row" style="text-align:center">
            <div class="col-md-12" style="text-align:center">
                <!-- project-filter -->
                <ul class="project-filter filter-left project-md text-center text-sm-left">
                    <li class="active" data-filter="all">All</li>
                    <li data-filter="1">Soft Drinks</li>
                    <li data-filter="2">Lunch</li>
                    <li data-filter="3">Dinner</li>
                    <li data-filter="4">Meal</li>
                </ul>
                <!-- .project-filter -->
            </div>
        </div>
    </div>
    <!-- project -->
    <div class="project-area">
        <div class="container">
            <div class="row project project-s2 gutter-vr-30px" id="project1">
                <div class="col-md-4 col-sm-6 filtr-item" data-category="1">
                    <a href="dallas-dark-work-single.html">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="~/assets/images/soft1.jpg" alt="">
                            </div>
                            <div class="project-over">
                                <div class="project-content">
                                    <h4 style="text-decoration-color:black">See More! </h4>
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!-- .col -->
                <div class="col-md-4 col-sm-6 filtr-item" data-category="1,2">
                    <a href="dallas-dark-work-single.html">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="~/assets/images/soft2.jpg" alt="">
                            </div>
                            <div class="project-over">
                                <div class="project-content">
                                    <h4 style="text-decoration-color:black">See More! </h4>
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!-- .col -->
                <div class="col-md-4 col-sm-6 filtr-item" data-category="3,4">
                    <a href="dallas-dark-work-single.html">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="~/assets/images/dinner1.jpg" alt="">
                            </div>
                            <div class="project-over">
                                <div class="project-content">
                                    <h4 style="text-decoration-color:black">See More! </h4>
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!-- .col -->
                <div class="col-md-4 col-sm-6 filtr-item" data-category="1,2,3">
                    <a href="dallas-dark-work-single.html">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="~/assets/images/dinner2.jpg" alt="">
                            </div>
                            <div class="project-over">
                                <div class="project-content">
                                    <h4 style="text-decoration-color:black">See More! </h4>
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!-- .col -->
                <div class="col-md-4 col-sm-6 filtr-item" data-category="2">
                    <a href="dallas-dark-work-single.html">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="~/assets/images/dinner3.jpg" alt="">
                            </div>
                            <div class="project-over">
                                <div class="project-content">
                                    <h4 style="text-decoration-color:black">See More! </h4>
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!-- .col -->
                <div class="col-md-4 col-sm-6 filtr-item" data-category="3">
                    <a href="dallas-dark-work-single.html">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="~/assets/images/dinner4.jpg" alt="">
                            </div>
                            <div class="project-over">
                                <div class="project-content">
                                    <h4 style="text-decoration-color:black">See More! </h4>
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!-- .col -->
            </div>
        </div>
    </div>
</div>
<!-- .section --> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="text-box bg-light block-pad">
                    <h2>Reserve your table now</h2>
                   <a href="~/Customer/create" class="btn btn-success">Reserve your table</a>
                </div><!-- .text-box -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div>
    <!-- .container -->
    <!-- bg -->
    <div class="bg-image bg-fixed">
        <img src="images/bg-g.jpg" alt="">
    </div>
    <!-- end bg -->
 
<!-- .section -->

<!-- .section-cta -->
<div class="pre-sec section-l pt-0">


    <!-- code-->
    <div class="section section-cta bg-primary tc-light section-l cta-s1" style="padding-top:200px">
        <div class="container">
            <div class="row gutter-vr-30px">
                <div class="col-sm-6 col-lg-4 text-center text-sm-left">
                    <div class="cta-box">
                        <h2 class="cta-heading">Contact With US</h2>
                        @*<p>Tell us what you are interested.</p>
                            <a href="contact.html" class="btn btn-lg btn-cta">Contact us</a>*@
                    </div>
                </div><!-- .col -->
                <div class="col-sm-6 offset-lg-3 col-lg-5 text-center text-sm-left">
                    <div class="cta-box tc-light">
                        <p>Not following us yet?</p>
                        <ul class="social">
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-facebook-f"></a></li>
                            <li><a href="#" class="fab fa-instagram"></a></li>
                            <li><a href="#" class="fab fa-google"></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
    <!-- .code -->
</div>
